*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:
     /* linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ), */
      url('./images/hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}
.header{
    position: relative;
    width: 600px;
    min-width: 300px;
    height: 250px;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
}
.header h1{
    font-size: 5rem;
    font-family: monospace;
    margin: 2rem 0;
    color: #2F4F4F;
    text-transform: capitalize;
    text-align: center;
}
.header button{
    font-family: sans-serif;
    letter-spacing: 5px;
    padding: 0.5rem 0.8rem;
    border-radius: 7px;
    border: 3px solid #2F4F4F;
    color: #fff;
    background-color: #2F4F4F;
    cursor: pointer;
    text-transform: uppercase;
    
}
.header button:hover{
    border: 3px solid #2F4F4F;
    color: #2F4F4F;
    background-color: #fff;
    transition:  0.5s ease-out;
}
.modal_content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    width: 85vw;
    height: 170px;
    background-color: #fff;
    border-radius: 5px;
    color: #2F4F4F;
    font-family: monospace;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    visibility: hidden;
}
.modal_content h1{
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.modal_content button {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    font-size: 1.5rem;
    color: red;
    background-color: #fff;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition:  transform 0.25s ease-out;
}
.modal_content button:hover{
    transform: scale(1.5);
}
.show_modal{
    visibility: visible;
}
@media(max-width: 700px) {
    html{
        font-size: 12px;
    }
    .header,.modal_content{
        margin: 0  3rem;
    }
}

@media(max-width: 500px) {
    html{
        font-size: 11px;
    }
}
@media(max-width: 300px) {
    html{
        font-size: 8px;
    }
    .header,.modal_content{
        min-width: 90%;
        margin: 0  3rem;
    }
}